.app-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.main-content {
  margin-left: 240px;
  /* Offset for fixed sidebar */
  padding-top: 56px;
  /* Seamless offset for fixed navbar */
  background-color: #F8FAFC;
  flex: 1;
  width: calc(100% - 240px);
  min-height: 100vh;
}